<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dida.reggie.mapper.SetmealMapper">
    <resultMap id="setmealMapper" type="setmeal">
        <result column="category_id" property="categoryId"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
        <result column="create_user" property="createUser"></result>
        <result column="update_user" property="updateUser"></result>
    </resultMap>

    <!--新增套餐-->
    <insert id="save">
        insert into setmeal(id, category_id, name, price, status, code, description, image, create_time, update_time, create_user, update_user)
        values (null, #{categoryId}, #{name}, #{price}, #{status}, #{code}, #{description},
                #{image}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser});
    </insert>

    <!--根据id删除套餐-->
    <delete id="deleteByIds">
        delete from setmeal
        where id = #{id};
    </delete>

    <!--根据category_id查询是否有套餐-->
    <select id="selectByCategoryId" resultType="java.lang.Integer">
        select count(*)
        from setmeal
        where category_id = #{categoryId}
    </select>

    <!--据套餐名称查询套餐id-->
    <select id="selectByName" resultType="java.lang.Long">
        select id
        from setmeal
        where name = #{name};
    </select>

    <!--查询记录数-->
    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from setmeal
        where name like #{name};
    </select>

    <!--分页查询-->
    <select id="selectByPage" resultMap="setmealMapper">
        select *
        from setmeal
        where name like #{name}
        order by id
        limit #{pageNo}, #{pageSize};
    </select>

    <!--根据id进行查询-->
    <select id="selectById" resultMap="setmealMapper">
        select *
        from setmeal
        where id = #{id};
    </select>

    <!--查询在售套餐信息-->
    <select id="getByStatus" resultMap="setmealMapper">
        select *
        from setmeal
        where category_id = #{categoryId}
        and status = #{status};
    </select>
</mapper>